<?xml version="1.0"?>
<robot name="vehicle">

  <!-- Root Link (Dummy for KDL/Gazebo compatibility) -->
  <link name="base_footprint"/>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- 车体 -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://model_test/meshes/visual/80.dae" scale="0.025 0.025 0.025"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://model_test/meshes/collision/80.stl" scale="0.025 0.025 0.025"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="10.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
  </link>

  <!-- Gazebo Planar Move Plugin -->
  <gazebo>
    <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometryRate>20.0</odometryRate>
      <robotBaseFrame>base_footprint</robotBaseFrame>
      <publishOdomTF>true</publishOdomTF>
      <cmdTimeout>1.0</cmdTimeout>
    </plugin>
  </gazebo>
</robot>

